<!DOCTYPE html>
<html lang="en">
<head>
  <title>Actualize Hub</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <!-- <link rel="icon" type="image/x-icon" href="css/e_nDl_icon.ico"> -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.9.0/css/lightbox.min.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <!-- <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
  <link rel="icon" href="images/favicon.ico" type="image/x-icon"> -->
  <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
</head>
<body>

    <% include partial/nav %>

    <main>

      <div class="container">

        <div class="section full-screen">
          <div class="row wrapper">
            <h3 class="col s10 offset-s1 title center-align">
                The next horizon and culture change
            </h3>
            <div class="col s10 offset-s1">
                Every year new unicorn emergence and gain market dominance. New technology startup born everyday. Most will die, and survivor will become legend. To be fit for the future, startup need to be visionary, and take a bold move. But one thing remain the same...
            </div>

            <h4 class="col s5 offset-s6">
                ..technology innovation
            </h4>


            <!-- <div class="col s10 offset-s1">
                <span class="brand-logo">Actualize hub</span> exists to build World are now in dire need of breakthrough solutions to address global development challenges - poverty, transportation, education and much more.
            </div> -->
          </div>
        </div>

        <div class="section center-align full-screen">
          <div class="row wrapper">
            <h3 class="col s12 title">
                <span class="brand-logo pink-text">Actualize hub</span> provides incubator environment from which promising deep tech startups can find the resources and tools needed to sustainable and thrive.
            </h3>
          </div>
        </div>

        <div class="section center-align full-screen">
          <div class="row wrapper">
            <h3 class="col s12 title">
                We believe in <span class="blue">democratizing startup knowledge development</span>.
            </h3>

            <div class="col s10 offset-s1">
                Here in <span class="brand-logo pink-text">Actualize Hub</span>, we want to boost nation technological <span class="red">development and growth</span> by building a future startups together with expertise, guidance and mentorship of a partner to help them <span class="green">grow a successful and sustainable business</span>..
            </div>
          </div>
        </div>

      </div>

      <div class="section full-screen">
        <div class="row wrapper">
          <h3 class="col s10 offset-s1 title center-align">
              What we have done
          </h3>
          <div class="col s10 offset-s1">
              Every year new unicorn emergence and gain market dominance. New technology startup born everyday. Most will die, and survivor will become legend. To be fit for the future, startup need to be visionary, and take a bold move. But one thing remain the same...
          </div>

          <h4 class="col s5 offset-s6">
              ..technology innovation
          </h4>


          <!-- <div class="col s10 offset-s1">
              <span class="brand-logo">Actualize hub</span> exists to build World are now in dire need of breakthrough solutions to address global development challenges - poverty, transportation, education and much more.
          </div> -->
        </div>
      </div>

    </main>

    <footer class="page-footer white">
          <div class="container">
            <div class="row">
              <div class="col l4 s12">
                <h3 class="brand-logo pink-text">ActualizeHub</h3>
                <p class="black-text">
                    Actualize Hub is an incubator program to assist deep tech startups to grow.
                </p>
              </div>
              <div class="col l2 offset-l1 s12">
                <h5 class="black-text">Connect</h5>
                <div class="s12">
                  <a href="https://facebook.com/Actualize-Hub-215646228996570/" target="_blank"><i class="black-text fab fa-facebook-square fa-2x"></i></a>
                </div>
                <br>
                <div class="black-text"><b>Business</b></div>
                <div class="black-text text-lighten-4">inquiries@actualizehub.com</div>
              </div>
            </div>

          </div>
          <div class="footer-copyright">
            <div class="container">
            © 2014 Copyright ActualizeHub
            </div>
          </div>
        </footer>

    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.9.0/js/lightbox.min.js"/></script>
    <script>
      $(document).ready(function() {
        $('select').material_select();
      });
    </script>
</body>
</html>
