
@import url('https://fonts.googleapis.com/css?family=Pacifico|Rubik');

/*******************************************************
 * OVERRIDE MATERIALIZECSS
 ********************/
body{
  font-family: "Source Code Pro", "monaco", "PT Mono", "Courier", monospace;
  font-weight: 400;
  font-size: 18px;
  /*background-color: #000;
  color: #fff;*/
}

.brand-logo {
  font-family: 'Pacifico', cursive;
}

.tabs .tab a:hover, .tabs .tab a.active{
  font-weight: bold;
}

.tabs .tab  a {
  font-size: 24px;
}

.divider {
  margin-top: 40px;
  margin-bottom: 40px;
}

nav {

}

.btn, .btn-large, .btn:hover, .btn-large:hover {
  box-shadow: none;
}

a.text-hyperlink {
  color: #00f;
  padding-bottom: 2px;
  border-bottom: dotted 1px #00f;
}

/*******************************************************
 * CUSTOM
 ********************/
.wrapper {
  padding-top: 60px;
}

.half-wrapper {
  padding-top: 30px;
}

.full-screen {
  height:100vh;
}

.text-highlight {
  background-color: #f39c12;
}

h3.title {
  line-height: 55px;
  font-family: 'Rubik', sans-serif;
  font-size:40px;
}
