<head>
  <nav class="white z-depth-0">
    <div class="nav-wrapper container">
      <a href="#" class="brand-logo pink-text center">Actualize Hub</a>
      <ul class="right hide-on-med-and-down">
      </ul>
    </div>
  </nav>
</head>
